postfix:
  mynetworks: '127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128'
  mailname: postfix.local
  myhostname: postfix.local
  inet_interfaces: loopback-only
  smtpd_tls_cert: /etc/ssl/certs/ssl-cert-snakeoil.pem
  smtpd_tls_key: /etc/ssl/private/ssl-cert-snakeoil.key
  smtpd_tls_ca: /etc/ssl/certs/ca-certificates.crt
  relayhost: smtp.example.com
  relayuser: noreply@example.com
  relaypass: password
  canonical: noreply@example.com
