{% set mynetworks = salt['pillar.get']('postfix:mynetworks', '127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128') %}
{% set mailname = salt['pillar.get']('postfix:mailname', grains['fqdn']) %}
{% set myhostname = salt['pillar.get']('postfix:myhostname', grains['fqdn']) %}
{% set inet_interfaces = salt['pillar.get']('postfix:inet_interfaces', 'loopback-only') %}
