# It will be better after this gets implemented: https://github.com/saltstack/salt/issues/11166
{% set postfix = salt['grains.filter_by']({
    'Debian': {
    },
}, grain='os_family', merge=salt['pillar.get']('postfix:lookup')) %}
